body.page-view
{
padding-top:10px; padding-left:10px;
}
.page-view .rnr-c-all,
  .rnr-pagewrapper .page-view .rnr-c-all,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-c-all
{
margin-bottom:5px;
}
.page-view .rnr-c-all,
  .rnr-pagewrapper .page-view .rnr-c-all,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-c-all
{
min-width: 500px; display:inline-block
}
.page-view .rnr-cw-all,
  .rnr-pagewrapper .page-view .rnr-cw-all,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-cw-all
{
text-align: center;
}
.page-view .rnr-c-main,
  .rnr-pagewrapper .page-view .rnr-c-main,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-c-main
{
margin-bottom:5px;
}
.page-view .rnr-c-main,
  .rnr-pagewrapper .page-view .rnr-c-main,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-c-main
{
min-width: 500px; display:inline-block
}
.page-view .rnr-cw-main,
  .rnr-pagewrapper .page-view .rnr-cw-main,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-cw-main
{
text-align: center;
}
.page-view .rnr-c-pdf,
  .rnr-pagewrapper .page-view .rnr-c-pdf,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-c-pdf
{
margin-bottom:5px;
}
.page-view .rnr-cbw-pdf.rnr-cbw-pdf.rnr-cbw-pdf.rnr-cbw-pdf,
  .rnr-pagewrapper .page-view .rnr-cbw-pdf.rnr-cbw-pdf.rnr-cbw-pdf.rnr-cbw-pdf,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-cbw-pdf.rnr-cbw-pdf.rnr-cbw-pdf.rnr-cbw-pdf
{
padding-top:0px;padding-bottom:0px;
}
.page-view .rnr-b-viewpdf,
  .rnr-pagewrapper .page-view .rnr-b-viewpdf,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-b-viewpdf
{
white-space: nowrap;
}
.page-view .rnr-b-viewpdf,
  .rnr-pagewrapper .page-view .rnr-b-viewpdf,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-b-viewpdf
{
text-align: right;
}
.page-view .rnr-b-viewpdf > *,
  .rnr-pagewrapper .page-view .rnr-b-viewpdf > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-b-viewpdf > *
{

}
.page-view .rnr-c-view,
  .rnr-pagewrapper .page-view .rnr-c-view,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-c-view
{
margin-bottom:5px;
}
.page-view .rnr-cbw-view.rnr-cbw-view.rnr-cbw-view.rnr-cbw-view,
  .rnr-pagewrapper .page-view .rnr-cbw-view.rnr-cbw-view.rnr-cbw-view.rnr-cbw-view,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-cbw-view.rnr-cbw-view.rnr-cbw-view.rnr-cbw-view
{
padding-top:0px;padding-bottom:0px;
}
.page-view .rnr-b-viewheader,
  .rnr-pagewrapper .page-view .rnr-b-viewheader,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-b-viewheader
{
white-space: nowrap;
}
.page-view .rnr-b-viewheader,
  .rnr-pagewrapper .page-view .rnr-b-viewheader,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-b-viewheader
{
text-align: right;
}
.page-view .rnr-b-viewheader > *,
  .rnr-pagewrapper .page-view .rnr-b-viewheader > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-b-viewheader > *
{
font-size: 120%;
}
.page-view .rnr-c-fields,
  .rnr-pagewrapper .page-view .rnr-c-fields,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-c-fields
{
margin-bottom:5px;
}
.page-view .rnr-b-viewfields,
  .rnr-pagewrapper .page-view .rnr-b-viewfields,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-b-viewfields
{
white-space: normal;
}
.page-view .rnr-b-viewfields,
  .rnr-pagewrapper .page-view .rnr-b-viewfields,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-b-viewfields
{
text-align: right;
}
.page-view .rnr-b-viewfields > *,
  .rnr-pagewrapper .page-view .rnr-b-viewfields > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-b-viewfields > *
{

}
.page-view .rnr-b-viewbuttons,
  .rnr-pagewrapper .page-view .rnr-b-viewbuttons,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-b-viewbuttons
{
white-space: nowrap;
}
.page-view .rnr-b-viewbuttons,
  .rnr-pagewrapper .page-view .rnr-b-viewbuttons,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-b-viewbuttons
{
text-align: right;
}
.page-view .rnr-b-viewbuttons > *,
  .rnr-pagewrapper .page-view .rnr-b-viewbuttons > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-b-viewbuttons > *
{

}
.page-view .rnr-c-details,
  .rnr-pagewrapper .page-view .rnr-c-details,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-c-details
{
margin-bottom:5px;
}
.page-view .rnr-c-details,
  .rnr-pagewrapper .page-view .rnr-c-details,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-c-details
{
min-width: 100px;
}
.page-view .rnr-b-viewdetails,
  .rnr-pagewrapper .page-view .rnr-b-viewdetails,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-b-viewdetails
{
white-space: nowrap;
}
.page-view .rnr-b-viewdetails,
  .rnr-pagewrapper .page-view .rnr-b-viewdetails,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-b-viewdetails
{
text-align: right;
}
.page-view .rnr-b-viewdetails > *,
  .rnr-pagewrapper .page-view .rnr-b-viewdetails > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-view .rnr-b-viewdetails > *
{

}
body.page-view .rnr-top
{
padding-right: 5px;
}
