<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="team1">
	{$team1_editcontrol}
	</control>
	<control field="team2">
	{$team2_editcontrol}
	</control>
	<control field="datetime">
	{$datetime_editcontrol}
	</control>
	<control field="match_number">
	{$match_number_editcontrol}
	</control>
	<control field="location">
	{$location_editcontrol}
	</control>
	<control field="team1_goals">
	{$team1_goals_editcontrol}
	</control>
	<control field="team2_goals">
	{$team2_goals_editcontrol}
	</control>
	<control field="team1_code">
	{$team1_code_editcontrol}
	</control>
	<control field="team2_code">
	{$team2_code_editcontrol}
	</control>
	<control field="status">
	{$status_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>