.PurificGreenLeaf.rnr-s-empty > .rnr-c
{
background:none;

}
.PurificGreenLeaf.rnr-s-empty > .rnr-c .rnr-leftbricks
{
margin-left: 10px;
}
.PurificGreenLeaf.rnr-s-empty > .rnr-c .rnr-rightbricks
{
margin-right: 10px;
}
.PurificGreenLeaf.rnr-s-empty > :not(.runner-c) > *.style1,
.PurificGreenLeaf.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-empty > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1,
.PurificGreenLeaf.rnr-s-empty > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-empty > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.PurificGreenLeaf.rnr-s-empty > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.PurificGreenLeaf.rnr-s-empty > :not(.runner-c) > *.style2,
.PurificGreenLeaf.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-empty > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2,
.PurificGreenLeaf.rnr-s-empty > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-empty > :not(.runner-c) > *.style3,
.PurificGreenLeaf.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-empty > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3,
.PurificGreenLeaf.rnr-s-empty > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-menu > .rnr-c
{
border: solid #C0C0C0 1px;border-top-left-radius: 2px;border-top-right-radius: 2px;border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;
}
.PurificGreenLeaf.rnr-s-menu > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 1px; padding-left: 1px;
border-bottom-left-radius: 1px; padding-left: 1px;

}
.PurificGreenLeaf.rnr-s-menu > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 1px; padding-right: 1px;
border-bottom-right-radius: 1px; padding-right: 1px;

}
.PurificGreenLeaf.rnr-s-menu > :not(.runner-c) > *.style1,
.PurificGreenLeaf.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #FFFFFF;color: #333333;
font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-menu > .rnr-c.rnr-ch
{
background-image: none; background-color: #FFFFFF;
}
.PurificGreenLeaf.rnr-s-menu > :not(.runner-c) > *.style2,
.PurificGreenLeaf.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #C0C0C0;color: #333333;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-menu > :not(.runner-c) > *.style3,
.PurificGreenLeaf.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #D2D8DC;color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-menu > .rnr-c .rnr-leftbricks
{
margin-left: 2px;
}
.PurificGreenLeaf.rnr-s-menu > .rnr-c .rnr-rightbricks
{
margin-right: 2px;
}
.PurificGreenLeaf.rnr-s-menu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1,
.PurificGreenLeaf.rnr-s-menu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-menu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 2px; background:transparent;
}
.PurificGreenLeaf.rnr-s-menu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 2px; background:transparent;
}
.PurificGreenLeaf.rnr-s-menu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2,
.PurificGreenLeaf.rnr-s-menu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-menu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3,
.PurificGreenLeaf.rnr-s-menu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-hmenu > .rnr-c
{
background:none;

}
.PurificGreenLeaf.rnr-s-hmenu > .rnr-c .rnr-leftbricks
{
margin-left: 10px;
}
.PurificGreenLeaf.rnr-s-hmenu > .rnr-c .rnr-rightbricks
{
margin-right: 10px;
}
.PurificGreenLeaf.rnr-s-hmenu > :not(.runner-c) > *.style1,
.PurificGreenLeaf.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1
{
color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-hmenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1,
.PurificGreenLeaf.rnr-s-hmenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 6px 4px;
}
.PurificGreenLeaf.rnr-s-hmenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.PurificGreenLeaf.rnr-s-hmenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.PurificGreenLeaf.rnr-s-hmenu > :not(.runner-c) > *.style2,
.PurificGreenLeaf.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2
{
color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-hmenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2,
.PurificGreenLeaf.rnr-s-hmenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-hmenu > :not(.runner-c) > *.style3,
.PurificGreenLeaf.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3
{
color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-hmenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3,
.PurificGreenLeaf.rnr-s-hmenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-undermenu > .rnr-c
{
border: solid #8AD79B 1px;border-top-left-radius: 2px;border-top-right-radius: 2px;border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;
}
.PurificGreenLeaf.rnr-s-undermenu > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 1px; padding-left: 1px;
border-bottom-left-radius: 1px; padding-left: 1px;

}
.PurificGreenLeaf.rnr-s-undermenu > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 1px; padding-right: 1px;
border-bottom-right-radius: 1px; padding-right: 1px;

}
.PurificGreenLeaf.rnr-s-undermenu > :not(.runner-c) > *.style1,
.PurificGreenLeaf.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #276A36;color: #FFFFFF;
font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-undermenu > .rnr-c.rnr-ch
{
background-image: none; background-color: #276A36;
}
.PurificGreenLeaf.rnr-s-undermenu > :not(.runner-c) > *.style2,
.PurificGreenLeaf.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #FFFF00;color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-undermenu > :not(.runner-c) > *.style3,
.PurificGreenLeaf.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFF00;color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-undermenu > .rnr-c .rnr-leftbricks
{
margin-left: 2px;
}
.PurificGreenLeaf.rnr-s-undermenu > .rnr-c .rnr-rightbricks
{
margin-right: 2px;
}
.PurificGreenLeaf.rnr-s-undermenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1,
.PurificGreenLeaf.rnr-s-undermenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-undermenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 2px; background:transparent;
}
.PurificGreenLeaf.rnr-s-undermenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 2px; background:transparent;
}
.PurificGreenLeaf.rnr-s-undermenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2,
.PurificGreenLeaf.rnr-s-undermenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-undermenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3,
.PurificGreenLeaf.rnr-s-undermenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-fields > .rnr-c
{
border: solid #95A598 1px;border-top-left-radius: 4px;border-top-right-radius: 4px;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;
}
.PurificGreenLeaf.rnr-s-fields > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 3px; padding-left: 2px;
border-bottom-left-radius: 3px; padding-left: 2px;

}
.PurificGreenLeaf.rnr-s-fields > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 3px; padding-right: 2px;
border-bottom-right-radius: 3px; padding-right: 2px;

}
.PurificGreenLeaf.rnr-s-fields > :not(.runner-c) > *.style1,
.PurificGreenLeaf.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1
{
background-color: #FFFFFF;
background: linear-gradient(0.000000turn, #FFFFFF, #FFFFFF);
;
color: #276A36;
font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-fields > .rnr-c.rnr-ch
{
background-color: #FFFFFF;
background: linear-gradient(0.000000turn, #FFFFFF, #FFFFFF);
;

}
.PurificGreenLeaf.rnr-s-fields > :not(.runner-c) > *.style2,
.PurificGreenLeaf.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2
{
background-color: #276A36;
background: linear-gradient(0.500000turn, #236131, #276A36);
;
color: #FFFFFF;
font-family: Tahoma, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-fields > :not(.runner-c) > *.style3,
.PurificGreenLeaf.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3
{
background-color: #FFFFFF;
background: linear-gradient(0.000000turn, #FFFFFF, #FFFFFF);
;
color: #696969;
font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-fields > .rnr-c .rnr-leftbricks
{
margin-left: 4px;
}
.PurificGreenLeaf.rnr-s-fields > .rnr-c .rnr-rightbricks
{
margin-right: 4px;
}
.PurificGreenLeaf.rnr-s-fields > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1,
.PurificGreenLeaf.rnr-s-fields > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 6px;
}
.PurificGreenLeaf.rnr-s-fields > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 4px; background:transparent;
}
.PurificGreenLeaf.rnr-s-fields > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 4px; background:transparent;
}
.PurificGreenLeaf.rnr-s-fields > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2,
.PurificGreenLeaf.rnr-s-fields > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 8px 4px;
}
.PurificGreenLeaf.rnr-s-fields > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3,
.PurificGreenLeaf.rnr-s-fields > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-form > .rnr-c
{
border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;
}
.PurificGreenLeaf.rnr-s-form > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 10px; padding-left: 5px;
border-bottom-left-radius: 10px; padding-left: 5px;

}
.PurificGreenLeaf.rnr-s-form > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 10px; padding-right: 5px;
border-bottom-right-radius: 10px; padding-right: 5px;

}
.PurificGreenLeaf.rnr-s-form > :not(.runner-c) > *.style1,
.PurificGreenLeaf.rnr-s-form > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #C0C0C0;color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-form > .rnr-c.rnr-ch
{
background-image: none; background-color: #C0C0C0;
}
.PurificGreenLeaf.rnr-s-form > :not(.runner-c) > *.style2,
.PurificGreenLeaf.rnr-s-form > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #276A36;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-form > :not(.runner-c) > *.style3,
.PurificGreenLeaf.rnr-s-form > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #9FC549;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-form > .rnr-c .rnr-leftbricks
{
margin-left: 10px;
}
.PurificGreenLeaf.rnr-s-form > .rnr-c .rnr-rightbricks
{
margin-right: 10px;
}
.PurificGreenLeaf.rnr-s-form > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-form > * > :not(.rnr-b-wrapper) .style1,
.PurificGreenLeaf.rnr-s-form > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-form > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.PurificGreenLeaf.rnr-s-form > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.PurificGreenLeaf.rnr-s-form > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-form > * > :not(.rnr-b-wrapper) .style2,
.PurificGreenLeaf.rnr-s-form > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-form > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-form > * > :not(.rnr-b-wrapper) .style3,
.PurificGreenLeaf.rnr-s-form > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-1 > .rnr-c
{
border: solid #95A598 1px;border-top-left-radius: 2px;border-top-right-radius: 2px;border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;
}
.PurificGreenLeaf.rnr-s-1 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 1px; padding-left: 1px;
border-bottom-left-radius: 1px; padding-left: 1px;

}
.PurificGreenLeaf.rnr-s-1 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 1px; padding-right: 1px;
border-bottom-right-radius: 1px; padding-right: 1px;

}
.PurificGreenLeaf.rnr-s-1 > :not(.runner-c) > *.style1,
.PurificGreenLeaf.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1
{
background-color: #9FC549;
background: linear-gradient(0.000000turn, #BBD67F, #9FC549);
;
color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-1 > .rnr-c.rnr-ch
{
background-color: #9FC549;
background: linear-gradient(0.000000turn, #BBD67F, #9FC549);
;

}
.PurificGreenLeaf.rnr-s-1 > :not(.runner-c) > *.style2,
.PurificGreenLeaf.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #276A36;color: #FFFFFF;
font-family: Tahoma, sans-serif; font-size: 13px; font-weight: bold; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-1 > :not(.runner-c) > *.style3,
.PurificGreenLeaf.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #DCDCDC;color: #276A36;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-1 > .rnr-c .rnr-leftbricks
{
margin-left: 2px;
}
.PurificGreenLeaf.rnr-s-1 > .rnr-c .rnr-rightbricks
{
margin-right: 2px;
}
.PurificGreenLeaf.rnr-s-1 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1,
.PurificGreenLeaf.rnr-s-1 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-1 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 2px; background:transparent;
}
.PurificGreenLeaf.rnr-s-1 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 2px; background:transparent;
}
.PurificGreenLeaf.rnr-s-1 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2,
.PurificGreenLeaf.rnr-s-1 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-1 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3,
.PurificGreenLeaf.rnr-s-1 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-2 > .rnr-c
{
border: solid #808000 1px;border-top-left-radius: 2px;border-top-right-radius: 2px;border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;
}
.PurificGreenLeaf.rnr-s-2 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 1px; padding-left: 1px;
border-bottom-left-radius: 1px; padding-left: 1px;

}
.PurificGreenLeaf.rnr-s-2 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 1px; padding-right: 1px;
border-bottom-right-radius: 1px; padding-right: 1px;

}
.PurificGreenLeaf.rnr-s-2 > :not(.runner-c) > *.style1,
.PurificGreenLeaf.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1
{
background-color: #9FC549;
background: linear-gradient(0.000000turn, #F0F6E3, #9FC549);
;
color: #333333;
font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-2 > .rnr-c.rnr-ch
{
background-color: #9FC549;
background: linear-gradient(0.000000turn, #F0F6E3, #9FC549);
;

}
.PurificGreenLeaf.rnr-s-2 > :not(.runner-c) > *.style2,
.PurificGreenLeaf.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #276A36;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-2 > :not(.runner-c) > *.style3,
.PurificGreenLeaf.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #C0C0C0;color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-2 > .rnr-c .rnr-leftbricks
{
margin-left: 2px;
}
.PurificGreenLeaf.rnr-s-2 > .rnr-c .rnr-rightbricks
{
margin-right: 2px;
}
.PurificGreenLeaf.rnr-s-2 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1,
.PurificGreenLeaf.rnr-s-2 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-2 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 2px; background:transparent;
}
.PurificGreenLeaf.rnr-s-2 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 2px; background:transparent;
}
.PurificGreenLeaf.rnr-s-2 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2,
.PurificGreenLeaf.rnr-s-2 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-2 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3,
.PurificGreenLeaf.rnr-s-2 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-3 > .rnr-c
{
border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;
}
.PurificGreenLeaf.rnr-s-3 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 10px; padding-left: 5px;
border-bottom-left-radius: 10px; padding-left: 5px;

}
.PurificGreenLeaf.rnr-s-3 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 10px; padding-right: 5px;
border-bottom-right-radius: 10px; padding-right: 5px;

}
.PurificGreenLeaf.rnr-s-3 > :not(.runner-c) > *.style1,
.PurificGreenLeaf.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #9FC549;color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-3 > .rnr-c.rnr-ch
{
background-image: none; background-color: #9FC549;
}
.PurificGreenLeaf.rnr-s-3 > :not(.runner-c) > *.style2,
.PurificGreenLeaf.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #C0C0C0;color: #276A36;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-3 > :not(.runner-c) > *.style3,
.PurificGreenLeaf.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #276A36;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.rnr-s-3 > .rnr-c .rnr-leftbricks
{
margin-left: 10px;
}
.PurificGreenLeaf.rnr-s-3 > .rnr-c .rnr-rightbricks
{
margin-right: 10px;
}
.PurificGreenLeaf.rnr-s-3 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1,
.PurificGreenLeaf.rnr-s-3 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-3 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.PurificGreenLeaf.rnr-s-3 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.PurificGreenLeaf.rnr-s-3 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2,
.PurificGreenLeaf.rnr-s-3 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-3 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.PurificGreenLeaf.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3,
.PurificGreenLeaf.rnr-s-3 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > td:not(.rnr-cs),
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > td:not(.rnr-cs)
{
border-top: solid #808080 1px;

}
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > td:not(.rnr-cs),
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > td:not(.rnr-cs)
{
border-bottom: solid #808080 1px;

}
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > td:first-child,
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > td:first-child,
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > th:first-child,
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > th:first-child,
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + td,
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + td,
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + th,
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + th
{
border-left: solid #808080 1px;

}
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-edge,
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-edge
{
border-right: solid #808080 1px;

}
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > th:not(.rnr-cs),
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > th:not(.rnr-cs),
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > td:not(.rnr-cs),
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > td:not(.rnr-cs)
{
background-color: #9FC549; background-image: none;font-family: Verdana, sans-serif; font-size: 11px; font-weight: bold; font-style: normal; text-decoration: none;color: #FFFFFF;padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-bottomrow > td:not(.rnr-cs),
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-bottomrow > td:not(.rnr-cs)
{
background-color: #DCE2E6; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #333333;padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td:not(.rnr-cs),
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td:not(.rnr-cs)
{
background-color: #DCDCDC; background-image: none;font-family: Verdana, sans-serif; font-size: 11px; font-weight: normal; font-style: normal; text-decoration: none;color: #333333;color: #333333;padding: 5px 4px;
}
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs),
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs)
{
background-color: #FFFFFF; background-image: none;color: #333333;
}
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td.rnr-selected,
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td.rnr-selected
{
background-color: #808080; background-image: none;color: #333333;
}
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected,
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected
{
background-color: #A9A9A9; background-image: none;color: #333333;
}
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical) > thead > tr:last-child > th:not(.rnr-cs),
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > thead > tr:last-child > th:not(.rnr-cs)
{
border-bottom: solid #808080 1px;

}
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > tr.rnr-row > td:not(.rnr-cs),
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > tr.rnr-row > td:not(.rnr-cs)
{
border-top: solid #808080 1px;

}
.PurificGreenLeaf.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:not(.rnr-bottomrow) + .rnr-bottomrow > td:not(.rnr-cs),
.PurificGreenLeaf.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:not(.rnr-bottomrow) + .rnr-bottomrow > td:not(.rnr-cs)
{
border-top: solid #808080 1px;

}
.PurificGreenLeaf .rnr-search-highlight
{
color: #FF0000; background-color: transparent;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.main > *,
.PurificGreenLeaf .rnr-b-vmenu.tree.main > *:not(.subitem)
{
background-color: #C0C0C0;
background: linear-gradient(0.000000turn, #D7D7D7, #C0C0C0);
;
color:#276A36;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.main > * > hr,
.PurificGreenLeaf .rnr-b-vmenu.tree.main > *:not(.subitem) > hr
{
border-color:#276A36;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.main > *:hover:not(.expanded):not(.menuSeparator),
.PurificGreenLeaf .rnr-b-vmenu.tree.main > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-color: #9FC549;
background: linear-gradient(0.000000turn, #C2DA8C, #9FC549);
;
color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.main > *.current.current.current,
.PurificGreenLeaf .rnr-b-vmenu.tree.main > *:not(.subitem).current.current.current
{
background-color: #276A36;
background: linear-gradient(0.000000turn, #76A180, #276A36);
;
color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.main > *:hover:hover:hover.expanded
{
background-color: #9FC549;
background: linear-gradient(0.000000turn, #C2DA8C, #9FC549);
;
color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.main > * > ul li,
.PurificGreenLeaf .rnr-b-vmenu.tree.main > *.subitem
{
background-color: #C0C0C0;
background: linear-gradient(0.000000turn, #F3F3F3, #C0C0C0);
;
color:#333333;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.main > * > ul li > hr,
.PurificGreenLeaf .rnr-b-vmenu.tree.main > *.subitem > hr
{
border-color:#333333;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.main > * > ul li:hover:not(.expanded):not(.menuSeparator),
.PurificGreenLeaf .rnr-b-vmenu.tree.main > *.subitem:hover:not(.menuSeparator)
{
background-color: #9FC549;
background: linear-gradient(0.000000turn, #EDF4DE, #9FC549);
;
color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.main > * > ul li.current.current.current,
.PurificGreenLeaf .rnr-b-vmenu.tree.main > *.subitem.current.current.current
{
background-color: #276A36;
background: linear-gradient(0.000000turn, #D8E4DA, #276A36);
;
color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.main > * > ul li:hover:hover:hover.expanded
{
background-color: #9FC549;
background: linear-gradient(0.000000turn, #EDF4DE, #9FC549);
;
color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-vmenu.tree.main > *:not(.subitem) > div
{
padding: 8px 4px; margin:1px 2px;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.main > * > :not(ul) > *
{
padding: 8px 4px; margin:1px 2px;
}
.PurificGreenLeaf .rnr-b-vmenu.tree.main > *.subitem > div
{
padding: 4px 3px; margin:1px 1px;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.main > * > ul li > :not(ul) > *
{
padding: 4px 3px; margin:1px 1px;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.main >  * ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.PurificGreenLeaf .rnr-b-vmenu.simple.second > *,
.PurificGreenLeaf .rnr-b-vmenu.tree.second > *:not(.subitem)
{
background-color: #C0C0C0;
background: linear-gradient(0.000000turn, #D7D7D7, #C0C0C0);
;
color:#276A36;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.second > * > hr,
.PurificGreenLeaf .rnr-b-vmenu.tree.second > *:not(.subitem) > hr
{
border-color:#276A36;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.second > *:hover:not(.expanded):not(.menuSeparator),
.PurificGreenLeaf .rnr-b-vmenu.tree.second > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-color: #9FC549;
background: linear-gradient(0.000000turn, #C2DA8C, #9FC549);
;
color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.second > *.current.current.current,
.PurificGreenLeaf .rnr-b-vmenu.tree.second > *:not(.subitem).current.current.current
{
background-color: #276A36;
background: linear-gradient(0.000000turn, #76A180, #276A36);
;
color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.second > *:hover:hover:hover.expanded
{
background-color: #9FC549;
background: linear-gradient(0.000000turn, #C2DA8C, #9FC549);
;
color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.second > * > ul li,
.PurificGreenLeaf .rnr-b-vmenu.tree.second > *.subitem
{
background-color: #C0C0C0;
background: linear-gradient(0.000000turn, #F3F3F3, #C0C0C0);
;
color:#333333;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.second > * > ul li > hr,
.PurificGreenLeaf .rnr-b-vmenu.tree.second > *.subitem > hr
{
border-color:#333333;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.second > * > ul li:hover:not(.expanded):not(.menuSeparator),
.PurificGreenLeaf .rnr-b-vmenu.tree.second > *.subitem:hover:not(.menuSeparator)
{
background-color: #9FC549;
background: linear-gradient(0.000000turn, #EDF4DE, #9FC549);
;
color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.second > * > ul li.current.current.current,
.PurificGreenLeaf .rnr-b-vmenu.tree.second > *.subitem.current.current.current
{
background-color: #276A36;
background: linear-gradient(0.000000turn, #D8E4DA, #276A36);
;
color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.second > * > ul li:hover:hover:hover.expanded
{
background-color: #9FC549;
background: linear-gradient(0.000000turn, #EDF4DE, #9FC549);
;
color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-vmenu.tree.second > *:not(.subitem) > div
{
padding: 8px 4px; margin:1px 2px;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.second > * > :not(ul) > *
{
padding: 8px 4px; margin:1px 2px;
}
.PurificGreenLeaf .rnr-b-vmenu.tree.second > *.subitem > div
{
padding: 4px 3px; margin:1px 1px;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.second > * > ul li > :not(ul) > *
{
padding: 4px 3px; margin:1px 1px;
}
.PurificGreenLeaf .rnr-b-vmenu.simple.second >  * ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.PurificGreenLeaf .rnr-b-hmenu.main > div:not(.rnr-hseparator)
{
background-image:none; background-color: #C0C0C0;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;padding: 5px 4px;border-top-right-radius: 8px;border: solid #000000 1px;
}
.PurificGreenLeaf .rnr-b-hmenu.main > div:not(.rnr-hseparator) > hr
{
border-color:#FFFFFF;
}
.PurificGreenLeaf .rnr-b-hmenu.main:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background-image:none; background-color: #9FC549;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-hmenu.main.current.current > div:not(.rnr-hseparator)
{
background-image:none; background-color: #276A36;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-hmenu.main:hover.expanded > div:not(.rnr-hseparator)
{
background-image:none; background-color: #9FC549;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-hmenu.main > ul li
{
background-image:none; background-color: #C0C0C0;color:#276A36;font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-hmenu.main > ul li > hr
{
border-color:#276A36;
}
.PurificGreenLeaf .rnr-b-hmenu.main > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #9FC549;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-hmenu.main > ul li.current.current
{
background-image:none; background-color: #276A36;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-hmenu.main > ul li:hover.expanded
{
background-image:none; background-color: #9FC549;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-hmenu.main > ul li > div > div
{
padding: 4px 3px; margin:1px 1px;
}
.PurificGreenLeaf .rnr-b-hmenu.main ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.PurificGreenLeaf .rnr-b-hmenu.main.rnr-b-hmenu.rnr-b-hmenu
{
padding-bottom: 0; padding-left:0; padding-right:0; vertical-align: bottom;
}
.PurificGreenLeaf .rnr-b-hmenu.second > div:not(.rnr-hseparator)
{
background-image:none; background-color: #C0C0C0;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;padding: 5px 4px;border-top-right-radius: 8px;border: solid #000000 1px;
}
.PurificGreenLeaf .rnr-b-hmenu.second > div:not(.rnr-hseparator) > hr
{
border-color:#FFFFFF;
}
.PurificGreenLeaf .rnr-b-hmenu.second:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background-image:none; background-color: #9FC549;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-hmenu.second.current.current > div:not(.rnr-hseparator)
{
background-image:none; background-color: #276A36;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-hmenu.second:hover.expanded > div:not(.rnr-hseparator)
{
background-image:none; background-color: #9FC549;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-hmenu.second > ul li
{
background-image:none; background-color: #C0C0C0;color:#276A36;font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-hmenu.second > ul li > hr
{
border-color:#276A36;
}
.PurificGreenLeaf .rnr-b-hmenu.second > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #9FC549;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-hmenu.second > ul li.current.current
{
background-image:none; background-color: #276A36;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-hmenu.second > ul li:hover.expanded
{
background-image:none; background-color: #9FC549;color:#FFFFFF;font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: italic; text-decoration: none;
}
.PurificGreenLeaf .rnr-b-hmenu.second > ul li > div > div
{
padding: 4px 3px; margin:1px 1px;
}
.PurificGreenLeaf .rnr-b-hmenu.second ul
{
box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.PurificGreenLeaf .rnr-b-hmenu.second.rnr-b-hmenu.rnr-b-hmenu
{
padding-bottom: 0; padding-left:0; padding-right:0; vertical-align: bottom;
}
body.PurificGreenLeaf
{

background-color:#E4E4E4;
}
.PurificGreenLeaf .rnr-list
{
color: #000000;background-color: #C0C0C0;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;border: solid #696969 1px;box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.PurificGreenLeaf .rnr-tab.selected
{
background-color:#0000FF;
border-top-left-radius:4px;
border-top-right-radius:4px;

}
.PurificGreenLeaf .rnr-tab
{
background-color:#C0C0C0;
border-top-left-radius:4px;
border-top-right-radius:4px;
border: solid #000000 1px; border-bottom-width:0;
}
.PurificGreenLeaf .rnr-tab.selected > a
{
color: #FFFFFF;

}
.PurificGreenLeaf .rnr-tab > a
{
color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .yui-navset .yui-content
{
border: solid #0000FF 1px;border-top-width: 5px;
}
.PurificGreenLeaf .rnr-stepnav > a.active,
.PurificGreenLeaf .rnr-stepnav > a:hover:not(.active)
{
background-color: #DCDCDC;
background: linear-gradient(0.000000turn, #F5F5F5, #DCDCDC);
;
color: #333333;

}
.PurificGreenLeaf .rnr-stepnav > a.active:after,
.PurificGreenLeaf .rnr-stepnav > a:hover:not(.active):after
{
background-color: #DCDCDC;
background: linear-gradient(0.875000turn, #F5F5F5, #DCDCDC);
;

}
.PurificGreenLeaf .rnr-stepnav > a:not(.active),
.PurificGreenLeaf .rnr-stepnav > a:not(.active):after
{
background-image: none; background-color: #C0C0C0;

}
.PurificGreenLeaf .rnr-stepnav > a:before
{
background-image: none; background: #FFFFFF;

}
.PurificGreenLeaf .rnr-stepnav > a:not(.active)
{
color: #A9A9A9;

}
.PurificGreenLeaf .rnr-stepnav > a:before 
{
color: #333333;

}
.PurificGreenLeaf .rnr-stepnav > a,
 .rnr-pagewrapper .PurificGreenLeaf .rnr-stepnav > a,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .rnr-stepnav > a
{
font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf  .rnr-message
{
background-color: #FFFFFF;border: solid #C0C0C0 1px;color: #006600;font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf  .rnr-error.rnr-error
{
color: #A80000;font-family: Tahoma, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .yui3-panel-content.yui3-panel-content
{
border: solid #95A598 1px;border-radius: 2px;
}
.PurificGreenLeaf  .yui3-panel .yui3-widget-hd.yui3-widget-hd.yui3-widget-hd
{
background-color: #276A36; background-image: none;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.PurificGreenLeaf  .yui3-widget-ft
{
background-color: #276A36;
background: linear-gradient(0.500000turn, #236131, #276A36);
;
font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.PurificGreenLeaf .rnr-dbbordered
{
border: solid #95A598 1px;border-radius: 2px;
}
.PurificGreenLeaf  .rnr-dbelemheader
{
background-color: #276A36; background-image: none;font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.PurificGreenLeaf  .rnr-dbelemfooter
{
background-color: #D8D8D8;
background: linear-gradient(0.500000turn, #C6C6C6, #D8D8D8);
;
font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;color: #000000;
}
.PurificGreenLeaf  .rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow
{
background-color: #FFFACD; background-image: none;color: #4C4951;
}
.PurificGreenLeaf .rnr-dashboard
{
background-color: #FFFFFF;
}
.PurificGreenLeaf .rnr-button.rnr-button,
.PurificGreenLeaf.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.PurificGreenLeaf .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .PurificGreenLeaf .rnr-button.rnr-button,
 .rnr-pagewrapper .PurificGreenLeaf.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .PurificGreenLeaf .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .button.button.button.rnr-button.rnr-button
{
border: solid 1px;border-radius: 2px;padding: 3px 10px 3px;background-color: #DCDCDC;
background: linear-gradient(0.000000turn, #F5F5F5, #DCDCDC);
;
border-color: #000000;color: #333333;
font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .rnr-button.rnr-button.img,
.PurificGreenLeaf.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.PurificGreenLeaf .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .PurificGreenLeaf .rnr-button.rnr-button.img,
 .rnr-pagewrapper .PurificGreenLeaf.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .PurificGreenLeaf .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .button.button.button.rnr-button.rnr-button.img
{
padding: 3px;

}
.PurificGreenLeaf .rnr-button:hover,
.PurificGreenLeaf.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
.PurificGreenLeaf .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .PurificGreenLeaf .rnr-button:hover,
 .rnr-pagewrapper .PurificGreenLeaf.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .PurificGreenLeaf .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .button.button.button.rnr-button:hover
{
background-color: #FFFFFF;
background: linear-gradient(0.000000turn, #FFFFFF, #FFFFFF);
;
border-color: #000000;color: #333333;

}
.PurificGreenLeaf .rnr-button:active,
.PurificGreenLeaf.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
.PurificGreenLeaf .button.button.button.rnr-button:active,
 .rnr-pagewrapper .PurificGreenLeaf .rnr-button:active,
 .rnr-pagewrapper .PurificGreenLeaf.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .PurificGreenLeaf .button.button.button.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .button.button.button.rnr-button:active
{
background-color: #DFE2E4;
background: linear-gradient(0.000000turn, #F6F6F7, #DFE2E4);
;
border-color: #000000;color: #333333;

}
.PurificGreenLeaf .rnr-button.disabled,
.PurificGreenLeaf.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.PurificGreenLeaf .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .PurificGreenLeaf .rnr-button.disabled,
 .rnr-pagewrapper .PurificGreenLeaf.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .PurificGreenLeaf .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .button.button.button.rnr-button.disabled
{
background-color: #C0C0C0;
background: linear-gradient(0.000000turn, #EDEDED, #C0C0C0);
;
border-color: #000000;color: #A9A9A9;

}
.PurificGreenLeaf.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.PurificGreenLeaf .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .PurificGreenLeaf.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .PurificGreenLeaf .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .link.link.link.rnr-button.rnr-button
{
background: none; border: none; ;
border: none;border-radius: 0px;padding: 4px 8px 4px;color: #276A36;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.PurificGreenLeaf .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .PurificGreenLeaf.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .PurificGreenLeaf .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .link.link.link.rnr-button.rnr-button.img
{
padding: 4px;

}
.PurificGreenLeaf.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
.PurificGreenLeaf .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .PurificGreenLeaf.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .PurificGreenLeaf .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .link.link.link.rnr-button:hover
{
color: #808080;

}
.PurificGreenLeaf.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
.PurificGreenLeaf .link.link.link.rnr-button:active,
 .rnr-pagewrapper .PurificGreenLeaf.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .PurificGreenLeaf .link.link.link.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .link.link.link.rnr-button:active
{
color: #276A36;

}
.PurificGreenLeaf.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.PurificGreenLeaf .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .PurificGreenLeaf.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .PurificGreenLeaf .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .link.link.link.rnr-button.disabled
{
color: #C0C0C0;

}
.PurificGreenLeaf .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .PurificGreenLeaf .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .main.main.main.rnr-button.rnr-button
{
border: solid 1px;border-radius: 2px;padding: 3px 10px 3px;background-color: #DCDCDC;
background: linear-gradient(0.000000turn, #F5F5F5, #DCDCDC);
;
border-color: #000000;color: #333333;
font-family: Tahoma, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.PurificGreenLeaf .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .PurificGreenLeaf .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .main.main.main.rnr-button.rnr-button.img
{
padding: 3px;

}
.PurificGreenLeaf .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .PurificGreenLeaf .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .main.main.main.rnr-button:hover
{
background-color: #FFFFFF;
background: linear-gradient(0.000000turn, #FFFFFF, #FFFFFF);
;
border-color: #000000;color: #333333;

}
.PurificGreenLeaf .main.main.main.rnr-button:active,
 .rnr-pagewrapper .PurificGreenLeaf .main.main.main.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .main.main.main.rnr-button:active
{
background-color: #DFE2E4;
background: linear-gradient(0.000000turn, #F6F6F7, #DFE2E4);
;
border-color: #000000;color: #333333;

}
.PurificGreenLeaf .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .PurificGreenLeaf .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .PurificGreenLeaf .main.main.main.rnr-button.disabled
{
background-color: #C0C0C0;
background: linear-gradient(0.000000turn, #EDEDED, #C0C0C0);
;
border-color: #000000;color: #A9A9A9;

}
