.rnr-left, .rnr-center{
    background-color:#ffffff;
}

.body {
font-family: 'Open Sans',sans-serif;
}

.flag {
height: 32px; width: 48px;
vertical-align: middle;
padding: 0 15px 0 15px;
}

.scoreText {
text-align: center;
color: #0087e6;
font-size: 27px;
line-height: 26px;
}


.teamName {
font-size: 27px;
line-height: 27px;
height: 80px;
color: #474747;
text-transform: uppercase;
vertical-align: middle;
}

.teamNameLong {
font-size: 21px;
line-height: 21px;
height: 80px;
color: #474747;
text-transform: uppercase;
vertical-align: middle;
white-space: normal;
}

.matchInfo {
font-size: 12px;
font-family: 'Open Sans',sans-serif;
}

.rnr-cg { cursor: pointer; }