.Avenue1Avenue.rnr-s-empty > .rnr-c
{
background:none;

}
.Avenue1Avenue.rnr-s-empty > .rnr-c .rnr-leftbricks
{
margin-right: 10px;
}
.Avenue1Avenue.rnr-s-empty > .rnr-c .rnr-rightbricks
{
margin-left: 10px;
}
.Avenue1Avenue.rnr-s-empty > :not(.runner-c) > *.style1,
.Avenue1Avenue.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-empty > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1,
.Avenue1Avenue.rnr-s-empty > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-empty > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.Avenue1Avenue.rnr-s-empty > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.Avenue1Avenue.rnr-s-empty > :not(.runner-c) > *.style2,
.Avenue1Avenue.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-empty > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2,
.Avenue1Avenue.rnr-s-empty > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-empty > :not(.runner-c) > *.style3,
.Avenue1Avenue.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-empty > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3,
.Avenue1Avenue.rnr-s-empty > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-menu > .rnr-c
{
border: solid #DCDCDC 1px;
}
.Avenue1Avenue.rnr-s-menu > :not(.runner-c) > *.style1,
.Avenue1Avenue.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #77A4D0;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-menu > .rnr-c.rnr-ch
{
background-image: none; background-color: #77A4D0;
}
.Avenue1Avenue.rnr-s-menu > :not(.runner-c) > *.style2,
.Avenue1Avenue.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2
{
background-color: #4583C0;
background: linear-gradient(0.000000turn, #6296CA, #4583C0);
;
color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-menu > :not(.runner-c) > *.style3,
.Avenue1Avenue.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #D2D8DC;color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-menu > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.Avenue1Avenue.rnr-s-menu > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.Avenue1Avenue.rnr-s-menu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1,
.Avenue1Avenue.rnr-s-menu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 7px 4px;
}
.Avenue1Avenue.rnr-s-menu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.Avenue1Avenue.rnr-s-menu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.Avenue1Avenue.rnr-s-menu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2,
.Avenue1Avenue.rnr-s-menu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-menu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3,
.Avenue1Avenue.rnr-s-menu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-hmenu > .rnr-c
{
background:none;

}
.Avenue1Avenue.rnr-s-hmenu > .rnr-c .rnr-leftbricks
{
margin-right: 10px;
}
.Avenue1Avenue.rnr-s-hmenu > .rnr-c .rnr-rightbricks
{
margin-left: 10px;
}
.Avenue1Avenue.rnr-s-hmenu > :not(.runner-c) > *.style1,
.Avenue1Avenue.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-hmenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1,
.Avenue1Avenue.rnr-s-hmenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-hmenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.Avenue1Avenue.rnr-s-hmenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.Avenue1Avenue.rnr-s-hmenu > :not(.runner-c) > *.style2,
.Avenue1Avenue.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-hmenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2,
.Avenue1Avenue.rnr-s-hmenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-hmenu > :not(.runner-c) > *.style3,
.Avenue1Avenue.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-hmenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3,
.Avenue1Avenue.rnr-s-hmenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-undermenu > .rnr-c
{
border: solid #DCDCDC 1px;
}
.Avenue1Avenue.rnr-s-undermenu > :not(.runner-c) > *.style1,
.Avenue1Avenue.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #FFFFFF;color: #404040;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-undermenu > .rnr-c.rnr-ch
{
background-image: none; background-color: #FFFFFF;
}
.Avenue1Avenue.rnr-s-undermenu > :not(.runner-c) > *.style2,
.Avenue1Avenue.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-undermenu > :not(.runner-c) > *.style3,
.Avenue1Avenue.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-undermenu > .rnr-c .rnr-leftbricks
{
margin-right: 0px;
}
.Avenue1Avenue.rnr-s-undermenu > .rnr-c .rnr-rightbricks
{
margin-left: 0px;
}
.Avenue1Avenue.rnr-s-undermenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1,
.Avenue1Avenue.rnr-s-undermenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 8px 10px;
}
.Avenue1Avenue.rnr-s-undermenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.Avenue1Avenue.rnr-s-undermenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.Avenue1Avenue.rnr-s-undermenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2,
.Avenue1Avenue.rnr-s-undermenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-undermenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3,
.Avenue1Avenue.rnr-s-undermenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-fields > .rnr-c
{
border-top-right-radius: 3px;border-top-left-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;
}
.Avenue1Avenue.rnr-s-fields > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 3px; padding-right: 1px;
border-bottom-right-radius: 3px; padding-right: 1px;

}
.Avenue1Avenue.rnr-s-fields > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 3px; padding-left: 1px;
border-bottom-left-radius: 3px; padding-left: 1px;

}
.Avenue1Avenue.rnr-s-fields > :not(.runner-c) > *.style1,
.Avenue1Avenue.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #FFFFFF;color: #333381;
font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-fields > .rnr-c.rnr-ch
{
background-image: none; background-color: #FFFFFF;
}
.Avenue1Avenue.rnr-s-fields > :not(.runner-c) > *.style2,
.Avenue1Avenue.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #34699E;color: #FFFFFF;
font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-fields > :not(.runner-c) > *.style3,
.Avenue1Avenue.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFFFF;color: #696969;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-fields > .rnr-c .rnr-leftbricks
{
margin-right: 3px;
}
.Avenue1Avenue.rnr-s-fields > .rnr-c .rnr-rightbricks
{
margin-left: 3px;
}
.Avenue1Avenue.rnr-s-fields > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1,
.Avenue1Avenue.rnr-s-fields > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-fields > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.Avenue1Avenue.rnr-s-fields > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.Avenue1Avenue.rnr-s-fields > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2,
.Avenue1Avenue.rnr-s-fields > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 8px 11px;
}
.Avenue1Avenue.rnr-s-fields > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3,
.Avenue1Avenue.rnr-s-fields > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-form > .rnr-c
{
border-top-right-radius: 10px;border-top-left-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;
}
.Avenue1Avenue.rnr-s-form > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 10px; padding-right: 5px;
border-bottom-right-radius: 10px; padding-right: 5px;

}
.Avenue1Avenue.rnr-s-form > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 10px; padding-left: 5px;
border-bottom-left-radius: 10px; padding-left: 5px;

}
.Avenue1Avenue.rnr-s-form > :not(.runner-c) > *.style1,
.Avenue1Avenue.rnr-s-form > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #00CCCC;color: #000080;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-form > .rnr-c.rnr-ch
{
background-image: none; background-color: #00CCCC;
}
.Avenue1Avenue.rnr-s-form > :not(.runner-c) > *.style2,
.Avenue1Avenue.rnr-s-form > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-form > :not(.runner-c) > *.style3,
.Avenue1Avenue.rnr-s-form > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #003366;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-form > .rnr-c .rnr-leftbricks
{
margin-right: 10px;
}
.Avenue1Avenue.rnr-s-form > .rnr-c .rnr-rightbricks
{
margin-left: 10px;
}
.Avenue1Avenue.rnr-s-form > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-form > * > :not(.rnr-b-wrapper) .style1,
.Avenue1Avenue.rnr-s-form > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-form > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.Avenue1Avenue.rnr-s-form > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.Avenue1Avenue.rnr-s-form > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-form > * > :not(.rnr-b-wrapper) .style2,
.Avenue1Avenue.rnr-s-form > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-form > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-form > * > :not(.rnr-b-wrapper) .style3,
.Avenue1Avenue.rnr-s-form > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-1 > .rnr-c
{
border-top-right-radius: 3px;border-top-left-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;
}
.Avenue1Avenue.rnr-s-1 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 3px; padding-right: 1px;
border-bottom-right-radius: 3px; padding-right: 1px;

}
.Avenue1Avenue.rnr-s-1 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 3px; padding-left: 1px;
border-bottom-left-radius: 3px; padding-left: 1px;

}
.Avenue1Avenue.rnr-s-1 > :not(.runner-c) > *.style1,
.Avenue1Avenue.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #34699E;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-1 > .rnr-c.rnr-ch
{
background-image: none; background-color: #34699E;
}
.Avenue1Avenue.rnr-s-1 > :not(.runner-c) > *.style2,
.Avenue1Avenue.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #34699E;color: #FFFFFF;
font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-1 > :not(.runner-c) > *.style3,
.Avenue1Avenue.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #34699E;color: #D1EEEE;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-1 > .rnr-c .rnr-leftbricks
{
margin-right: 3px;
}
.Avenue1Avenue.rnr-s-1 > .rnr-c .rnr-rightbricks
{
margin-left: 3px;
}
.Avenue1Avenue.rnr-s-1 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1,
.Avenue1Avenue.rnr-s-1 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 4px 4px;
}
.Avenue1Avenue.rnr-s-1 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.Avenue1Avenue.rnr-s-1 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.Avenue1Avenue.rnr-s-1 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2,
.Avenue1Avenue.rnr-s-1 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 9px 10px;
}
.Avenue1Avenue.rnr-s-1 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3,
.Avenue1Avenue.rnr-s-1 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-2 > .rnr-c
{
border-top-right-radius: 3px;border-top-left-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;
}
.Avenue1Avenue.rnr-s-2 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 3px; padding-right: 1px;
border-bottom-right-radius: 3px; padding-right: 1px;

}
.Avenue1Avenue.rnr-s-2 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 3px; padding-left: 1px;
border-bottom-left-radius: 3px; padding-left: 1px;

}
.Avenue1Avenue.rnr-s-2 > :not(.runner-c) > *.style1,
.Avenue1Avenue.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1
{
background-color: #EDF1F3;
background: linear-gradient(0.000000turn, #F6F8F9, #EDF1F3);
;
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-2 > .rnr-c.rnr-ch
{
background-color: #EDF1F3;
background: linear-gradient(0.000000turn, #F6F8F9, #EDF1F3);
;

}
.Avenue1Avenue.rnr-s-2 > :not(.runner-c) > *.style2,
.Avenue1Avenue.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #3366FF;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-2 > :not(.runner-c) > *.style3,
.Avenue1Avenue.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-2 > .rnr-c .rnr-leftbricks
{
margin-right: 3px;
}
.Avenue1Avenue.rnr-s-2 > .rnr-c .rnr-rightbricks
{
margin-left: 3px;
}
.Avenue1Avenue.rnr-s-2 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1,
.Avenue1Avenue.rnr-s-2 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 7px 4px;
}
.Avenue1Avenue.rnr-s-2 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.Avenue1Avenue.rnr-s-2 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.Avenue1Avenue.rnr-s-2 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2,
.Avenue1Avenue.rnr-s-2 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-2 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3,
.Avenue1Avenue.rnr-s-2 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-3 > .rnr-c
{
border-top-right-radius: 3px;border-top-left-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;
}
.Avenue1Avenue.rnr-s-3 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-right-radius: 3px; padding-right: 1px;
border-bottom-right-radius: 3px; padding-right: 1px;

}
.Avenue1Avenue.rnr-s-3 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-left-radius: 3px; padding-left: 1px;
border-bottom-left-radius: 3px; padding-left: 1px;

}
.Avenue1Avenue.rnr-s-3 > :not(.runner-c) > *.style1,
.Avenue1Avenue.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #4B9EC9;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-3 > .rnr-c.rnr-ch
{
background-image: none; background-color: #4B9EC9;
}
.Avenue1Avenue.rnr-s-3 > :not(.runner-c) > *.style2,
.Avenue1Avenue.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #000080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-3 > :not(.runner-c) > *.style3,
.Avenue1Avenue.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #004080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.rnr-s-3 > .rnr-c .rnr-leftbricks
{
margin-right: 3px;
}
.Avenue1Avenue.rnr-s-3 > .rnr-c .rnr-rightbricks
{
margin-left: 3px;
}
.Avenue1Avenue.rnr-s-3 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1,
.Avenue1Avenue.rnr-s-3 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-3 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.Avenue1Avenue.rnr-s-3 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.Avenue1Avenue.rnr-s-3 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2,
.Avenue1Avenue.rnr-s-3 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-3 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.Avenue1Avenue.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3,
.Avenue1Avenue.rnr-s-3 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > td:not(.rnr-cs),
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > td:not(.rnr-cs)
{
border-top: solid #D8DCDE 1px;

}
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > td:not(.rnr-cs),
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > td:not(.rnr-cs)
{
border-bottom: solid #D8DCDE 1px;

}
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > td:first-child,
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > td:first-child,
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > th:first-child,
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > th:first-child,
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + td,
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + td,
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + th,
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + th
{
border-right: solid #D8DCDE 1px;

}
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-edge,
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-edge
{
border-left: solid #D8DCDE 1px;

}
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > td:first-child,
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > td:first-child,
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > th:first-child,
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > th:first-child,
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > *.rnr-cs + td,
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > *.rnr-cs + td,
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > *.rnr-cs + th,
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > *.rnr-cs + th
{
border-top-right-radius: 2px;
}
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > td:first-child,
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > td:first-child,
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > th:first-child,
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > th:first-child,
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > *.rnr-cs + td,
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > *.rnr-cs + td,
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > *.rnr-cs + th,
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > *.rnr-cs + th
{
border-bottom-right-radius: 2px;
}
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > .rnr-edge,
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > .rnr-edge
{
border-top-left-radius: 2px;
}
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > .rnr-edge,
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > .rnr-edge
{
border-bottom-left-radius: 2px;
}
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > * > .rnr-edge,
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > * > .rnr-edge
{
min-width: 2px;

}
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > th:not(.rnr-cs),
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > th:not(.rnr-cs),
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > td:not(.rnr-cs),
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > td:not(.rnr-cs)
{
background-color: #3D78B4;
background: linear-gradient(0.000000turn, #5C8DC0, #3D78B4);
;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;padding: 5px 7px;
}
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-bottomrow > td:not(.rnr-cs),
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-bottomrow > td:not(.rnr-cs)
{
background-color: #DCE2E6; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #333333;padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td:not(.rnr-cs),
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td:not(.rnr-cs)
{
background-color: #EDF1F3; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #333333;color: #333333;padding: 5px 4px;
}
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs),
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs)
{
background-color: #FFFFFF; background-image: none;color: #333333;
}
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td.rnr-selected,
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td.rnr-selected
{
background-color: #DCDCDC; background-image: none;color: #333333;
}
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected,
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected
{
background-color: #C0C0C0; background-image: none;color: #333333;
}
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > thead > tr:last-child > th:not(.rnr-cs),
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > thead > tr:last-child > th:not(.rnr-cs)
{
border-bottom: solid #D8DCDE 1px;

}
.Avenue1Avenue.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:not(.rnr-bottomrow) + .rnr-bottomrow > td:not(.rnr-cs),
.Avenue1Avenue.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:not(.rnr-bottomrow) + .rnr-bottomrow > td:not(.rnr-cs)
{
border-top: solid #D8DCDE 1px;

}
.Avenue1Avenue .rnr-search-highlight
{
color: #FF0000; background-color: transparent;
}
.Avenue1Avenue .rnr-b-vmenu.simple.main > *,
.Avenue1Avenue .rnr-b-vmenu.tree.main > *:not(.subitem)
{
background-image:none; background-color: #FFFFFF;color:#696969;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-vmenu.simple.main > * > hr,
.Avenue1Avenue .rnr-b-vmenu.tree.main > *:not(.subitem) > hr
{
border-color:#696969;
}
.Avenue1Avenue .rnr-b-vmenu.simple.main > *:hover:not(.expanded):not(.menuSeparator),
.Avenue1Avenue .rnr-b-vmenu.tree.main > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #4B9EC9;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-vmenu.simple.main > *.current.current.current,
.Avenue1Avenue .rnr-b-vmenu.tree.main > *:not(.subitem).current.current.current
{
background-image:none; background-color: #4B9EC9;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-vmenu.simple.main > *:hover:hover:hover.expanded
{
background-image:none; background-color: #4B9EC9;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-vmenu.simple.main > * > ul li,
.Avenue1Avenue .rnr-b-vmenu.tree.main > *.subitem
{
background-image:none; background-color: #4B9EC9;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-vmenu.simple.main > * > ul li > hr,
.Avenue1Avenue .rnr-b-vmenu.tree.main > *.subitem > hr
{
border-color:#FFFFFF;
}
.Avenue1Avenue .rnr-b-vmenu.simple.main > * > ul li:hover:not(.expanded):not(.menuSeparator),
.Avenue1Avenue .rnr-b-vmenu.tree.main > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #438EB5;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-vmenu.simple.main > * > ul li.current.current.current,
.Avenue1Avenue .rnr-b-vmenu.tree.main > *.subitem.current.current.current
{
background-image:none; background-color: #438EB5;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-vmenu.simple.main > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #438EB5;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-vmenu.tree.main > *:not(.subitem) > div
{
padding: 9px 7px; margin:1px 3px;
}
.Avenue1Avenue .rnr-b-vmenu.simple.main > * > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.Avenue1Avenue .rnr-b-vmenu.tree.main > *.subitem > div
{
padding: 9px 7px; margin:1px 3px;
}
.Avenue1Avenue .rnr-b-vmenu.simple.main > * > ul li > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.Avenue1Avenue .rnr-b-vmenu.simple.main >  * ul
{
border: solid #95B8DB 1px;
}
.Avenue1Avenue .rnr-b-vmenu.simple.main >  * ul > li:not(:first-child)
{
border-top: solid #95B8DB 1px;
}
.Avenue1Avenue .rnr-b-vmenu.simple.main > *:not(:first-child),
.Avenue1Avenue .rnr-b-vmenu.tree.main > *:not(.subitem):not(:first-child)
{
border-top:solid #C2DEED 1px;
}
.Avenue1Avenue .rnr-b-vmenu.tree.main > *.subitem:not(:first-child)
{
border-top: solid #95B8DB 1px;
}
.Avenue1Avenue .rnr-b-vmenu.simple.second > *,
.Avenue1Avenue .rnr-b-vmenu.tree.second > *:not(.subitem)
{
background-image:none; background-color: #FFFFFF;color:#696969;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-vmenu.simple.second > * > hr,
.Avenue1Avenue .rnr-b-vmenu.tree.second > *:not(.subitem) > hr
{
border-color:#696969;
}
.Avenue1Avenue .rnr-b-vmenu.simple.second > *:hover:not(.expanded):not(.menuSeparator),
.Avenue1Avenue .rnr-b-vmenu.tree.second > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #4B9EC9;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-vmenu.simple.second > *.current.current.current,
.Avenue1Avenue .rnr-b-vmenu.tree.second > *:not(.subitem).current.current.current
{
background-image:none; background-color: #4B9EC9;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-vmenu.simple.second > *:hover:hover:hover.expanded
{
background-image:none; background-color: #4B9EC9;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-vmenu.simple.second > * > ul li,
.Avenue1Avenue .rnr-b-vmenu.tree.second > *.subitem
{
background-image:none; background-color: #4B9EC9;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-vmenu.simple.second > * > ul li > hr,
.Avenue1Avenue .rnr-b-vmenu.tree.second > *.subitem > hr
{
border-color:#FFFFFF;
}
.Avenue1Avenue .rnr-b-vmenu.simple.second > * > ul li:hover:not(.expanded):not(.menuSeparator),
.Avenue1Avenue .rnr-b-vmenu.tree.second > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #438EB5;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-vmenu.simple.second > * > ul li.current.current.current,
.Avenue1Avenue .rnr-b-vmenu.tree.second > *.subitem.current.current.current
{
background-image:none; background-color: #438EB5;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-vmenu.simple.second > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #438EB5;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-vmenu.tree.second > *:not(.subitem) > div
{
padding: 9px 7px; margin:1px 3px;
}
.Avenue1Avenue .rnr-b-vmenu.simple.second > * > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.Avenue1Avenue .rnr-b-vmenu.tree.second > *.subitem > div
{
padding: 9px 7px; margin:1px 3px;
}
.Avenue1Avenue .rnr-b-vmenu.simple.second > * > ul li > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.Avenue1Avenue .rnr-b-vmenu.simple.second >  * ul
{
border: solid #95B8DB 1px;
}
.Avenue1Avenue .rnr-b-vmenu.simple.second >  * ul > li:not(:first-child)
{
border-top: solid #95B8DB 1px;
}
.Avenue1Avenue .rnr-b-vmenu.simple.second > *:not(:first-child),
.Avenue1Avenue .rnr-b-vmenu.tree.second > *:not(.subitem):not(:first-child)
{
border-top:solid #C2DEED 1px;
}
.Avenue1Avenue .rnr-b-vmenu.tree.second > *.subitem:not(:first-child)
{
border-top: solid #95B8DB 1px;
}
.Avenue1Avenue .rnr-b-hmenu.main > div:not(.rnr-hseparator)
{
background: transparent;color:#696969;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;padding: 20px 10px;border: none;
}
.Avenue1Avenue .rnr-b-hmenu.main
{
background-image:none; background-color: #FFFFFF;
}
.Avenue1Avenue .rnr-b-hmenu.main > div:not(.rnr-hseparator) > hr
{
border-color:#696969;
}
.Avenue1Avenue .rnr-b-hmenu.main:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-hmenu.main:hover:not(.expanded)
{
background-image:none; background-color: #4B9EC9;
}
.Avenue1Avenue .rnr-b-hmenu.main.current.current > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-hmenu.main.current.current
{
background-image:none; background-color: #4B9EC9;
}
.Avenue1Avenue .rnr-b-hmenu.main:hover.expanded > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-hmenu.main:hover.expanded
{
background-image:none; background-color: #4B9EC9;
}
.Avenue1Avenue .rnr-b-hmenu.main > ul li
{
background-image:none; background-color: #4B9EC9;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-hmenu.main > ul li > hr
{
border-color:#FFFFFF;
}
.Avenue1Avenue .rnr-b-hmenu.main > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #438EB5;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-hmenu.main > ul li.current.current
{
background-image:none; background-color: #438EB5;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-hmenu.main > ul li:hover.expanded
{
background-image:none; background-color: #438EB5;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-hmenu.main > ul li > div > div
{
padding: 9px 7px; margin:1px 3px;
}
.Avenue1Avenue .rnr-b-hmenu.main ul
{
border: solid #95B8DB 1px;
}
.Avenue1Avenue .rnr-b-hmenu.main ul > li:not(:first-child)
{
border-top: solid #95B8DB 1px;
}
.Avenue1Avenue .rnr-b-hmenu.main:not(:last-child)
{
border-right: solid #FFFFFF 1px;
}
.Avenue1Avenue :not(.rnr-b-hmenu):not(.main) + .rnr-b-hmenu.main
{
border-left: solid #FFFFFF 1px;
}
.Avenue1Avenue .rnr-b-hmenu.second > div:not(.rnr-hseparator)
{
background: transparent;color:#696969;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;padding: 20px 10px;border: none;
}
.Avenue1Avenue .rnr-b-hmenu.second
{
background-image:none; background-color: #FFFFFF;
}
.Avenue1Avenue .rnr-b-hmenu.second > div:not(.rnr-hseparator) > hr
{
border-color:#696969;
}
.Avenue1Avenue .rnr-b-hmenu.second:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-hmenu.second:hover:not(.expanded)
{
background-image:none; background-color: #4B9EC9;
}
.Avenue1Avenue .rnr-b-hmenu.second.current.current > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-hmenu.second.current.current
{
background-image:none; background-color: #4B9EC9;
}
.Avenue1Avenue .rnr-b-hmenu.second:hover.expanded > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-hmenu.second:hover.expanded
{
background-image:none; background-color: #4B9EC9;
}
.Avenue1Avenue .rnr-b-hmenu.second > ul li
{
background-image:none; background-color: #4B9EC9;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-hmenu.second > ul li > hr
{
border-color:#FFFFFF;
}
.Avenue1Avenue .rnr-b-hmenu.second > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #438EB5;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-hmenu.second > ul li.current.current
{
background-image:none; background-color: #438EB5;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-hmenu.second > ul li:hover.expanded
{
background-image:none; background-color: #438EB5;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-b-hmenu.second > ul li > div > div
{
padding: 9px 7px; margin:1px 3px;
}
.Avenue1Avenue .rnr-b-hmenu.second ul
{
border: solid #95B8DB 1px;
}
.Avenue1Avenue .rnr-b-hmenu.second ul > li:not(:first-child)
{
border-top: solid #95B8DB 1px;
}
.Avenue1Avenue .rnr-b-hmenu.second:not(:last-child)
{
border-right: solid #FFFFFF 10px;
}
.Avenue1Avenue :not(.rnr-b-hmenu):not(.second) + .rnr-b-hmenu.second
{
border-left: solid #FFFFFF 10px;
}
body.Avenue1Avenue
{

background-color:#D7DBDF;
}
.Avenue1Avenue .rnr-list
{
color: #000000;background-color: #FFFFFF;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;border: solid #A9A9A9 1px;box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.Avenue1Avenue .rnr-tab.selected
{
background-color:#4B9EC9;
border-top-right-radius:3px;
border-top-left-radius:3px;

}
.Avenue1Avenue .rnr-tab
{
background-color:#C0C0C0;
border-top-right-radius:3px;
border-top-left-radius:3px;
border: solid #4B9EC9 1px; border-bottom-width:0;
}
.Avenue1Avenue .rnr-tab.selected > a
{
color: #FFFFFF;

}
.Avenue1Avenue .rnr-tab > a
{
color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .yui-navset .yui-content
{
border: solid #4B9EC9 1px;border-top-width: 5px;
}
.Avenue1Avenue .rnr-stepnav > a.active,
.Avenue1Avenue .rnr-stepnav > a:hover:not(.active)
{
background-color: #DFE2E4;
background: linear-gradient(0.000000turn, #E4E7E8, #DFE2E4);
;
color: #333333;

}
.Avenue1Avenue .rnr-stepnav > a.active:after,
.Avenue1Avenue .rnr-stepnav > a:hover:not(.active):after
{
background-color: #DFE2E4;
background: linear-gradient(0.875000turn, #E4E7E8, #DFE2E4);
;

}
.Avenue1Avenue .rnr-stepnav > a:not(.active),
.Avenue1Avenue .rnr-stepnav > a:not(.active):after
{
background-image: none; background-color: #C0C0C0;

}
.Avenue1Avenue .rnr-stepnav > a:before
{
background-image: none; background: #FFFFFF;

}
.Avenue1Avenue .rnr-stepnav > a:not(.active)
{
color: #A9A9A9;

}
.Avenue1Avenue .rnr-stepnav > a:before 
{
color: #000000;

}
.Avenue1Avenue .rnr-stepnav > a,
 .rnr-pagewrapper .Avenue1Avenue .rnr-stepnav > a,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .rnr-stepnav > a
{
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue  .rnr-message
{
background-color: #FFFFFF;border: solid #DCDCDC 1px;color: #16589C;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue  .rnr-error.rnr-error
{
color: #A80000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .yui3-panel-content.yui3-panel-content
{
border-radius: 3px;
}
.Avenue1Avenue  .yui3-panel .yui3-widget-hd.yui3-widget-hd.yui3-widget-hd
{
background-color: #34699E; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.Avenue1Avenue  .yui3-widget-ft
{
background-color: #34699E; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.Avenue1Avenue .rnr-dbbordered
{
border-radius: 3px;
}
.Avenue1Avenue  .rnr-dbelemheader
{
background-color: #34699E; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #FFFFFF;
}
.Avenue1Avenue  .rnr-dbelemfooter
{
background-color: #D8D8D8; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #000000;
}
.Avenue1Avenue  .rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow
{
background-color: #FFFACD; background-image: none;color: #4C4951;
}
.Avenue1Avenue .rnr-dashboard
{
background-color: #FFFFFF;
}
.Avenue1Avenue .rnr-button.rnr-button,
.Avenue1Avenue.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.Avenue1Avenue .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .Avenue1Avenue .rnr-button.rnr-button,
 .rnr-pagewrapper .Avenue1Avenue.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .Avenue1Avenue .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .button.button.button.rnr-button.rnr-button
{
border: solid 1px;border-radius: 3px;padding: 3px 10px 4px;background-color: #DFE2E4;
background: linear-gradient(0.000000turn, #E4E7E8, #DFE2E4);
;
border-color: #000000;color: #333333;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .rnr-button.rnr-button.img,
.Avenue1Avenue.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.Avenue1Avenue .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .Avenue1Avenue .rnr-button.rnr-button.img,
 .rnr-pagewrapper .Avenue1Avenue.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .Avenue1Avenue .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .button.button.button.rnr-button.rnr-button.img
{
padding: 3px;

}
.Avenue1Avenue .rnr-button:hover,
.Avenue1Avenue.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
.Avenue1Avenue .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .Avenue1Avenue .rnr-button:hover,
 .rnr-pagewrapper .Avenue1Avenue.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .Avenue1Avenue .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .button.button.button.rnr-button:hover
{
background-color: #FFFFFF;
background: linear-gradient(0.000000turn, #FFFFFF, #FFFFFF);
;
border-color: #000000;color: #000000;

}
.Avenue1Avenue .rnr-button:active,
.Avenue1Avenue.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
.Avenue1Avenue .button.button.button.rnr-button:active,
 .rnr-pagewrapper .Avenue1Avenue .rnr-button:active,
 .rnr-pagewrapper .Avenue1Avenue.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .Avenue1Avenue .button.button.button.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .button.button.button.rnr-button:active
{
background-color: #DFE2E4;
background: linear-gradient(0.000000turn, #E4E7E8, #DFE2E4);
;
border-color: #000000;color: #000000;

}
.Avenue1Avenue .rnr-button.disabled,
.Avenue1Avenue.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.Avenue1Avenue .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .Avenue1Avenue .rnr-button.disabled,
 .rnr-pagewrapper .Avenue1Avenue.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .Avenue1Avenue .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .button.button.button.rnr-button.disabled
{
background-color: #C0C0C0;
background: linear-gradient(0.000000turn, #CBCBCB, #C0C0C0);
;
border-color: #000000;color: #A9A9A9;

}
.Avenue1Avenue.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.Avenue1Avenue .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .Avenue1Avenue.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .Avenue1Avenue .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .link.link.link.rnr-button.rnr-button
{
background: none; border: none; ;
border: none;border-radius: 0px;padding: 4px 8px 4px;color: #004080;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.Avenue1Avenue.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.Avenue1Avenue .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .Avenue1Avenue.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .Avenue1Avenue .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .link.link.link.rnr-button.rnr-button.img
{
padding: 4px;

}
.Avenue1Avenue.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
.Avenue1Avenue .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .Avenue1Avenue.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .Avenue1Avenue .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .link.link.link.rnr-button:hover
{
color: #FE4F29;

}
.Avenue1Avenue.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
.Avenue1Avenue .link.link.link.rnr-button:active,
 .rnr-pagewrapper .Avenue1Avenue.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .Avenue1Avenue .link.link.link.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .link.link.link.rnr-button:active
{
color: #004080;

}
.Avenue1Avenue.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.Avenue1Avenue .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .Avenue1Avenue.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .Avenue1Avenue .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .link.link.link.rnr-button.disabled
{
color: #004080;

}
.Avenue1Avenue .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .Avenue1Avenue .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .main.main.main.rnr-button.rnr-button
{
border: solid 2px;border-radius: 3px;padding: 3px 10px 4px;background-color: #DFE2E4;
background: linear-gradient(0.000000turn, #E4E7E8, #DFE2E4);
;
border-color: #000000;color: #333333;
font-family: Arial, sans-serif; font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none;
}
.Avenue1Avenue .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .Avenue1Avenue .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .main.main.main.rnr-button.rnr-button.img
{
padding: 3px;

}
.Avenue1Avenue .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .Avenue1Avenue .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .main.main.main.rnr-button:hover
{
background-color: #FFFFFF;
background: linear-gradient(0.000000turn, #FFFFFF, #FFFFFF);
;
border-color: #000000;color: #000000;

}
.Avenue1Avenue .main.main.main.rnr-button:active,
 .rnr-pagewrapper .Avenue1Avenue .main.main.main.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .main.main.main.rnr-button:active
{
background-color: #DFE2E4;
background: linear-gradient(0.000000turn, #E4E7E8, #DFE2E4);
;
border-color: #000000;color: #000000;

}
.Avenue1Avenue .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .Avenue1Avenue .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .Avenue1Avenue .main.main.main.rnr-button.disabled
{
background-color: #C0C0C0;
background: linear-gradient(0.000000turn, #CBCBCB, #C0C0C0);
;
border-color: #000000;color: #A9A9A9;

}
.rnr-left, .rnr-center{
    background-color:#ffffff;
}

.body {
font-family: 'Open Sans',sans-serif;
}

.flag {
height: 32px; width: 48px;
vertical-align: middle;
padding: 0 15px 0 15px;
}

.scoreText {
text-align: center;
color: #0087e6;
font-size: 27px;
line-height: 26px;
}


.teamName {
font-size: 27px;
line-height: 27px;
height: 80px;
color: #474747;
text-transform: uppercase;
vertical-align: middle;
}

.teamNameLong {
font-size: 21px;
line-height: 21px;
height: 80px;
color: #474747;
text-transform: uppercase;
vertical-align: middle;
white-space: normal;
}

.matchInfo {
font-size: 12px;
font-family: 'Open Sans',sans-serif;
}

.rnr-cg { cursor: pointer; }